# dependencies
node_modules/

# Next.js build output
.next/

# environment variables (real secrets)
.env
.env.local
.env.production
.env.development
.env.example

# OS junk
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
